In [6]:
import pandas as pd
train_all= pd.read_json('train.json', encoding='utf-8', typ = 'frame')
train_all=train_all.sort_values(by='like_cnt', ascending=False)

In [7]:
plyst_song=train_all[['id','songs']]

In [8]:
plyst_song = plyst_song[:30000]
plyst_song

            id                                              songs
46524    74220  [159317, 368264, 600999, 274905, 643023, 24070...
85071   122388  [532771, 383775, 432753, 176384, 152694, 60126...
102651   26174  [40160, 20039, 561488, 20051, 16242, 256568, 7...
101464   72658  [111779, 406878, 417725, 129878, 357770, 34879...
59894   113501  [342524, 1233, 417666, 394523, 107455, 17206, ...
...        ...                                                ...
89350    79006  [636915, 630796, 338728, 312927, 99877, 302881...
7770     21961  [370157, 330547, 444905, 321020, 628137, 10319...
38652    61029  [470636, 433113, 450325, 417071, 576846, 33327...
7144    114735  [194839, 465905, 47738, 70860, 576152, 182135,...
51069   138111  [221282, 188147, 36853, 341996, 65031, 57626, ...

[30000 rows x 2 columns]

In [10]:
plyst_song[plyst_song['id']==48486]

         id                                              songs
4092  48486  [72021, 52649, 168446, 603681, 83559, 704104, ...

In [ ]:
# import shutil
# import math

# for i, row in plyst_song.iterrows():
#     try:
#         plyst_id=row['id']
#         songs=row['songs']
#         os.makedirs('D:/mel/'+str(plyst_id))
#         for song in songs:
#             folder=math.floor(song/1000)
#             filename= str(song)+'.npy'
#             src='D:/arena_mel/'+str(folder)+'/'
#             dir= 'D:/mel/'+str(plyst_id)+'/'
#             shutil.move(src+filename, dir+filename)
#     except:
#         continue

In [ ]:
# import pickle
# with open('dupli.txt','rb') as f:
#     count=pickle.load(f)
# count

In [ ]:
# #plyst별로 폴더에 넣는 코드
# import shutil
# import math

# for i, row in plyst_song.iterrows():
#     try:
#         plyst_id=row['id']
#         songs=row['songs']
#         os.makedirs('D:/test_mel_1/'+str(plyst_id))
#         for song in songs:
#             if count[song] == 1:
#                 folder=math.floor(song/1000)
#                 filename= str(song)+'.npy'
#                 src='D:/test_arena_mel/'+str(folder)+'/'
#                 dir= 'D:/test_mel_1/'+str(plyst_id)+'/'
#                 shutil.move(src+filename, dir+filename)
#             else:
#                 folder=math.floor(song/1000)
#                 filename= str(song)+'.npy'
#                 src='D:/test_arena_mel/'+str(folder)+'/'+filename
#                 dst= 'D:/test_mel_1/'+str(plyst_id)+'/'
#                 shutil.copy(src, dst)
                
#     except:
#         continue

In [4]:
#plyst별로 폴더에 넣는 코드(copy이용)
import shutil
import math
import os

for i, row in plyst_song.iterrows():
        plyst_id=row['id']
        songs=row['songs']
        os.makedirs('D:/mel_1/'+str(plyst_id))
        for song in songs:
            try: 
                folder=math.floor(song/1000)
                filename= str(song)+'.npy'
                src='K:/arena_share_folder/'+str(folder)+'/'+filename
                dst= 'D:/mel_1/'+str(plyst_id)+'/'
                shutil.copy(src, dst)
            except:
                continue

OSError: [WinError 112] 디스크 공간이 부족합니다: 'D:/mel_1/107136'

In [ ]:
# import os
# os.listdir('D:/arena_mel/432')

In [ ]:
#폴더 옮기기 오류 났을때 되돌리는 코드
root_dir = 'D:/mel/'
for (_,_, file) in os.walk(root_dir): 
    for filename in file:
        p_dir = filename[:3]
        src = root_dir
        dir = 'D:/arena_mel/'+str(p_dir)+'/'
        shutil.move(src+filename, dir+filename)
#     for n in np.arange(432,707):
#         dir= 'D:/mel/'
# #         shutil.move(src+filename, dir+filename)

#         str(i)